.login_div{
    text-align: center;
}

.login_form {
    width: 500px;
    display: inline-block;
}

.login_input {
    width: 300px;
    height: 30px;
    margin: 20px 0 0 0;
}

.login_submit {
    width: 300px;
    height: 30px;
    margin: 20px 0 0 0
}

.inValidForm {
    color: red;
}