.passwordChange_div{
    padding-top: 50px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 100vh;
}

.internalPasswordChange_div{
    max-width: 50%;
    display: block;
    margin: 0px auto;
    border: 0.01px solid rgb(201, 200, 200);
    background-color: rgb(255, 255, 255);
}

.passwordChange_input_div{
    display: block;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.passwordChange_input{
    width: 50%;
    height: 30px;
    margin: 0 0 0 80px;
    background-color:rgb(241, 240, 240);
    border-width: 0.05px;
    border-color: rgb(175, 175, 175);
}

.passwordChange_button_div{
    text-align: left;
    margin: 0 0 0 80px;
    margin-bottom: 50px;
}