.registration_div{
    padding-top: 50px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 100vh;
}

.internalForm_div{
    max-width: 350px;
    display: block;
    margin: 0px auto;
    border: 0.01px solid rgb(201, 200, 200);
    background-color: rgb(255, 255, 255);
}

.registration_form {
    width: 300px;
    max-height: fit-content;
    margin-bottom: 50px;
    display: inline-block;
}

.registration_input {
    border: 0.01px solid rgb(201, 200, 200);
    background-color: rgb(247, 247, 247);
    width: 250px;
    height: 35px;
    margin: 10px 0 0 0
}

.registration_input::placeholder{
    padding-left: 10px;
}

.registration_submit {
    background-color: rgb(0, 149, 246);
    color: white;
    font-weight: bold;
    border: 0;
    width: 255px;
    height: 30px;
    margin: 20px 0 0 0
}

.inValidForm {
    font-size: 12px;
    color: red;
}

.validForm{
    font-size: 12px;
    color: blue;
}

.policy_div{
    width: 250px;
    margin-top: 15px;
    margin: 0 auto;
}

.policyNotice{
    font-size: 12px;
    color:rgb(129, 129, 129);
}

.subtitle{
    font-weight: bold;
    color:rgb(129, 129, 129);
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

