<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zipgap.mapper.ListMapper">

    <select id="selectList" resultType="com.zipgap.vo.listVO.ListVO">
        //테이블 전체 조회
        SELECT * FROM tb_api00
        ORDER BY deal_amount
    </select>

    <!--계약일 기준 최신순으로 실거래 조회-->
    <select id="fetchListByRecentDealDay" resultType="com.zipgap.vo.listVO.ListVO" parameterType="String">
        <![CDATA[
        SELECT @rownum:=@rownum+1 rownum, t.*  FROM tb_api00 t, (select @rownum:=0) tmp
        WHERE t.deal_day > '20210300'
        AND t.deal_day < '20210304'
        ORDER BY t.deal_day DESC
        limit 100
        ]]>
    </select>

    <!--계약일 기준 최신순으로 실거래 조회-->
    <select id="fetchListByRecentDealDay2" resultType="com.zipgap.vo.listVO.ListVO" parameterType="String">
        <![CDATA[
        SELECT @rownum:=@rownum+1 rownum, t.*  FROM tb_api00 t, (select @rownum:=0) tmp
        WHERE t.deal_day > '20210304'
        ORDER BY t.deal_day DESC
        limit 100
        ]]>
    </select>

    <!--계약일 기준 특정 일자 실거래 조회-->
    <select id="fetchListByDealDay" resultType="com.zipgap.vo.listVO.ListVO" parameterType="String">
        <![CDATA[
        SELECT @rownum:=@rownum+1 rownum, t.*  FROM tb_api00 t, (select @rownum:=0) tmp
        WHERE t.deal_day = #{dealDay}
        limit 100
        ]]>
    </select>

    <!--특정 아파트의 실거래 내역 조회-->
    <select id="fetchListByApartment" resultType="com.zipgap.vo.listVO.ApartVO" parameterType="String">
        <![CDATA[
        select
            *
        from
            tb_api00
        where
            apartment_name = #{apartment_name}
        order by deal_day
        ]]>
    </select>

    <!--특정 아파트의 실거래 내역 조회-->
    <select id="fetchListByApartment2" resultType="com.zipgap.vo.listVO.ApartVO" parameterType="String">
        <![CDATA[
        select
            *
        from
            tb_api00
        where
            apartment_name = '초원그린타운'
            and road_name = '신촌4로'
        order by deal_day 
        ]]>
    </select>


    <!--계약일 구간 실거래가 순으로 조회-->
    <select id="fetchListByDealAmount" resultType="com.zipgap.vo.listVO.ListVO" parameterType="String">
        <![CDATA[
        SELECT @rownum:=@rownum+1 rownum, t.*  FROM tb_api00 t, (select @rownum:=0) tmp
        WHERE t.deal_day >= #{deal_day_from}
            and t.deal_day <= #{deal_day_to}
        ORDER BY t.deal_amount DESC
        limit 100
        ]]>
    </select>

</mapper>
