<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zipgap.mapper.RegistrationMapper">

    <insert id="userRegistration" parameterType="com.zipgap.vo.userVO.RegistrationVO">
        insert into tb_user(EMAIL, NAME, NICKNAME, PASSWORD)
        values (#{email}, #{name}, #{nickName}, #{password})
    </insert>

</mapper>
